div#s1.ui.feed
    div.ui.compact.menu
        div#addFeedMenu.ui.simple.dropdown.item Add to feed
            .menu
                div.item.addSource(id=id_feed1) #{feed1} 
                div.item.addSource(id=id_feed2) #{feed2}
                div.item.addSource(id=id_feed3) #{feed3}
    h2#headerSearch.ui.center.aligned.dividing.header #{sourceTitle}
    h5#descripSearch.ui.center.aligned.header #{sourceDescription}
    each msg in feedMsgs
        div.event
            div.ui.fluid.centered.card
                div.content
                    div.summary
                        div.date #{msg[1].date} 
                    h3.extra.text #{msg[1].title}
                    div !{msg[1].description}

                    div.meta
                        a.like(href="#{msg[1].link}") Ir